* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: bold 14px Arial, sans-serif;
}

html {
    height: 100%;
}

button {
    color: white;
    background-color: violet;
    width: 75px;
    height: 35px;
    margin: 10px 0px 0px 5px;
}

#inputdisplay {
    position: relative;
    left: 50px;
    width: 237px;
    height: 35px;
    text-align: center;
    background-color: #a6a6a6;
}

.calc {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 19px 10px 20px 34px;
    background: turquoise;
    position: relative;
    top: 200px;
}
