* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: bold 14px Arial, sans-serif;
}

body {
    width: 80vw;
    height: 90vh;
}

button {
    border-radius: 10px;
    width: 75px;
    height: 35px;
    margin: 10px 0px 0px 5px;
}

#inputdisplay {
    position: relative;
    left: 50px;
    width: 237px;
    height: 35px;
    text-align: center;
}

.calc {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    padding: 20px 0px 20px 40px;
    background: #9dd2ea;
    position: relative;
    border: 2px solid;
    top: 200px;
}

#space {
    background-color: black;
}
